<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ (foundation$ | async)?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="foundation">
    <section>
      <h1>{{ foundation.name }}</h1>
    </section>
    <p>{{ foundation.description }}</p>
    <div class="bank-account-info">
      <span>Bank account number: {{ foundation.bankAccountNumber }}</span> / <span>{{ foundation.bankCode }}</span>
    </div>
    <div class="actions">
      <ion-button (click)="openPaymentModal()" expand="block" fill="solid" color="primary">Donate once</ion-button>
      <ion-button (click)="subscribe()" expand="block" fill="solid" color="tertiary">Subscribe</ion-button>
    </div>
  </ng-container>
  <ng-container *ngIf="accountDetail$ | async as accountDetail">
    <p class="ion-text-center">Current balance: {{ accountDetail.balance | number:'.2' }} {{ accountDetail.currency }}</p>
  </ng-container>

  <ion-card class="no-margin" *ngFor="let transaction of transactions$ | async">
    <ion-card-content class="transaction-content">
      <p class="amount" [ngClass]="{'in': transaction.amount.value > 0, 'out': transaction.amount.value < 0}">
        <ion-icon name="arrow-round-down" *ngIf="transaction.amount.value > 0"></ion-icon>
        <ion-icon name="arrow-round-up" *ngIf="transaction.amount.value < 0"></ion-icon>
        {{ transaction.amount.value > 0 ? transaction.amount.value : (transaction.amount.value * -1) | number:'.2' }} {{ transaction.amount.currency }}
      </p>
      <div class="payment-info">
        <p>
          {{ transaction.typeDescription }}
        </p>
        <p>
          {{ transaction.processingDate | date }}
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
