<ng-container *ngIf="step === 0">
    <ion-content class="ion-padding">
        <ion-list>
            <ion-radio-group [(ngModel)]="selectedAccount">
                <ion-list-header>
                    Accounts
                </ion-list-header>
                <ion-item *ngFor="let account of accounts$ | async; let i = index">
                    <ion-label>{{ account.accountno.number }}/{{ account.accountno.bankCode }}</ion-label>
                    <ion-radio [checked]="i === 0" [value]="account"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
        <!--    <ion-select [(ngModel)]="selectedAccount" okText="Okay" cancelText="Dismiss" placeholder="Choose one account">-->
        <!--      <ion-select-option *ngFor="let account of accounts$ | async" [value]="account">-->
        <!--        {{ account.accountno.number }}/{{ account.accountno.bankCode }}-->
        <!--      </ion-select-option>-->
        <!--    </ion-select>-->

        <ion-item>
            <ion-label position="floating">Donation amount (CZK)</ion-label>
            <ion-input type="number" inputmode="decimal" [(ngModel)]="amount"></ion-input>
        </ion-item>

    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <div class="actions">
                <ion-button (click)="close()" expand="block" fill="solid" color="light">Cancel</ion-button>
                <ion-button (click)="pay()" expand="block" fill="solid" color="primary">Donate</ion-button>
            </div>
        </ion-toolbar>
    </ion-footer>
</ng-container>

<ng-container *ngIf="step === 1">
    <ion-content class="ion-padding">
        Now it it time to confirm you payment.
        Type code from SMS message below

        <ion-item>
            <ion-label position="floating">Confirmation code</ion-label>
            <ion-input type="number" inputmode="numeric" [(ngModel)]="code"></ion-input>
        </ion-item>

    </ion-content>
  <ion-footer>
    <ion-toolbar>
      <div class="actions">
        <ion-button (click)="close()" expand="block" fill="solid" color="light">Cancel</ion-button>
        <ion-button (click)="confirm()" expand="block" fill="solid" color="primary">Confirm</ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>
