<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Foundation list</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="welcome-card" *ngFor="let foundation of foundations$ | async"
	          [routerLink]="['/foundation-detail', foundation.id]">
		<ion-card-header>
			<!--            <ion-card-subtitle>Get Started</ion-card-subtitle>-->
			<ion-card-title>{{ foundation.name }}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p class="description">{{ foundation.description }}</p>
			<div class="month-data">
				<ion-card-subtitle class="income">
					<ion-icon name="arrow-round-down"></ion-icon>
					520 035.28 <span class="small">CZK</span>
				</ion-card-subtitle>
				<ion-card-subtitle class="expense">
					<ion-icon name="arrow-round-up"></ion-icon>
					4 568.70 <span class="small">CZK</span>
				</ion-card-subtitle>
			</div>
			<p class="month-data-note">Data for the last 30 days</p>
		</ion-card-content>
	</ion-card>
	<!--    <ion-list>-->
	<!--        <ion-item *ngFor="let foundation of foundations$ | async" [routerLink]="['/foundation-detail', foundation.id]">-->
	<!--            &lt;!&ndash;      <ion-icon [name]="item.icon" slot="start"></ion-icon>&ndash;&gt;-->
	<!--            <ion-img class="foundation-logo"-->
	<!--                     [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBZfExLU7ATGGggUgCOpflbze6krYP-FgEY-ecULYLQXdlVdy9'"></ion-img>-->
	<!--            &lt;!&ndash;        <a [routerLink]="['/foundation-detail', foundation.id]">{{ foundation.name }}</a>&ndash;&gt;-->
	<!--            {{ foundation.name }}-->
	<!--            <div class="item-note" slot="end">-->
	<!--                <ion-icon md="md-arrow-dropright"></ion-icon>-->
	<!--            </div>-->
	<!--        </ion-item>-->
	<!--    </ion-list>-->
</ion-content>
