<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="!user">
    <p>First, you have to connect your bank account.</p>
    <p>Don't worry no money will be sent without your confirmation.</p>
    <ion-button (click)="login()" expand="block" fill="solid" color="primary">
      Connect bank account
    </ion-button>
  </ng-container>
  <ng-container *ngIf="user">
<!--    <p>{{ user.name }}</p>-->
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>
          <div class="user-info">
            <div>
              <img class="profile-pic" src="/assets/imgs/profile.png" alt="">
            </div>
            <div class="user-info-text">
              <p class="name">{{ user.name }}</p>
              <p class="contact">{{ user.contact }}</p>
            </div>
          </div>
          <div class="user-numbers">
            <div class="donated">{{ user.donated | number:'1.2' }} CZK</div>
          </div>
        </ion-card-title>
      </ion-card-header>
      <!--        <ion-card-content>-->

      <!--        </ion-card-content>-->
    </ion-card>
  </ng-container>
</ion-content>
