.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

ion-card-header {
    padding-bottom: 5px;
}

.user-info {
    display: flex;
    //justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;

    .user-info-text {
        margin-left: 20px;

        .name {
            font-size: 28px;
            margin: 0;
        }

        .contact {
            font-size: 15px;
            color: grey;
            margin-top: 10px;
        }
    }
}

.donated {
    //flex: 50%;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    text-transform: capitalize;
    color: green;
}

.profile-pic {
    width: 70px;
    max-height: 30px;
}

.user-numbers {
    text-align: center;
    margin: 10px 0;
}

.place-number {
    width: 70px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin: 10px 0;

    .small {
        font-size: 20px;
    }
}
