.bank-account-inputs {
    display: flex;
    padding: 20px 0;
    margin-bottom: 20px;

    .account-number,
    .bank-code {
        border-bottom: 1px solid grey;
        padding: 0 5px !important;
        margin: 0 10px !important;

        &.ng-dirty.ng-invalid {
            color: red;
            border-bottom-color: red;
        }
    }

    .account-number {
        flex: 70%;
    }

    .bank-code {
        flex: 30%;
    }

    .bank-account-inputs-separator {

        &:before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 22px;
            background-color: #000;
            transform: rotate(17deg);
            margin-bottom: -13px;
        }
    }
}
