<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Add bank account info</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="middle">
		<form [formGroup]="form" (ngSubmit)="save()">
			<div class="bank-account-inputs">
				<ion-input formControlName="accountNumber" class="account-number" placeholder="Account number"></ion-input>
				<span class="bank-account-inputs-separator"></span>
				<ion-input formControlName="bankCode" class="bank-code" placeholder="Bank code"></ion-input>
			</div>
			<!--		<ion-buttons slot="">-->
			<!--			<ion-button>Save</ion-button>-->
			<ion-button type="submit" expand="full" fill="solid" color="primary">Save</ion-button>
			<!--		</ion-buttons>-->
		</form>
	</div>
</ion-content>
