<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngFor="let user of users; let i = index">
        <ion-card-header>
            <ion-card-title>
                <div class="user-info">
                    <div>
                        <img class="profile-pic" src="/assets/imgs/profile.png" alt="">
                    </div>
                    <div class="user-info-text">
                        <p class="name">{{ user.name }}</p>
                        <p class="contact">{{ user.contact }}</p>
                    </div>
                </div>
                <div class="user-numbers">
                    <p class="place-number"><span class="small">#</span>{{ i + 1 }}</p>
                    <div class="donated">{{ user.donated | number:'1.2' }} CZK</div>
                </div>
            </ion-card-title>
        </ion-card-header>
<!--        <ion-card-content>-->

<!--        </ion-card-content>-->
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="actions">
            <ion-button (click)="donate()" expand="block" fill="solid" color="primary">I also want to donate</ion-button>
        </div>
    </ion-toolbar>
</ion-footer>
